In [1]:
import cv2
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import scipy.misc
import re
import sys
import warnings
warnings.filterwarnings("ignore")

In [2]:
filepath = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/data_cafe/'

In [3]:
filename = filepath + 'final_cafe_info_with_path.csv'
df_cafe = pd.read_csv(filename).drop('Unnamed: 0', axis=1)
df_cafe.head()

,지역,지역구,카페명,주소,위도,경도,파일명
0,서서울,은평,스모어,서울 은평구 연서로29길 8-8,37.618952,126.919697,ws_ep_01.png
1,서서울,은평,필라멘트카페,서울 은평구 통일로 883,37.621753,126.919462,ws_ep_02.png
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png
3,서서울,은평,YM Coffee Project,서울 은평구 연서로29길 21-8,37.619095,126.917542,ws_ep_04.png
4,서서울,은평,카페달력,서울 은평구 연서로18길 28-2,37.611930,126.920534,ws_ep_05.png

In [4]:
pathes = df_cafe['파일명'].tolist()
# pathes

In [5]:
def rgb_classfy(rgb):
    r = rgb[0]; g = rgb[1]; b = rgb[2]
    
    if ((r/g) >= 0.95 and (r/g) <= 1.05) and ((g/b) >= 0.95 and (g/b) <= 1.05) and ((r/g) >= 0.95 and (r/g) <= 1.05):
        return 'mono'
    elif r < 51 and g < 51 and b < 51:
        return 'mono'
    else:
        if r > b:
            return 'red'
        else:
            return 'blue'

In [6]:
reds = dict()
blues = dict()
monos = dict()

for name in pathes[:10]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_image/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [7]:
for name in pathes[10:65]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_image/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [8]:
for name in pathes[65:130]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_image/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [9]:
for name in pathes[130:195]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_image/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [10]:
for name in pathes[195:260]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_image/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [12]:
for name in pathes[260:325]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_image/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [13]:
len(list(monos.keys()))

325

In [14]:
df_red = pd.DataFrame()
df_red['파일명'] = reds.keys()
df_red['red'] = reds.values()
df_red.head()

            파일명     red
0  ws_ep_01.png  303132
1  ws_ep_02.png  275566
2  ws_ep_03.png   74956
3  ws_ep_04.png  188820
4  ws_ep_05.png  183368

In [15]:
df_blue = pd.DataFrame()
df_blue['파일명'] = blues.keys()
df_blue['blue'] = blues.values()
df_blue.head()

            파일명    blue
0  ws_ep_01.png   16736
1  ws_ep_02.png   31789
2  ws_ep_03.png  135169
3  ws_ep_04.png     483
4  ws_ep_05.png    3755

In [16]:
df_mono = pd.DataFrame()
df_mono['파일명'] = monos.keys()
df_mono['mono'] = monos.values()
df_mono.head()

            파일명    mono
0  ws_ep_01.png  139404
1  ws_ep_02.png   97361
2  ws_ep_03.png   36581
3  ws_ep_04.png   47397
4  ws_ep_05.png   33317

In [17]:
df_rb = df_red.merge(df_blue, how='left')
df_rb.head()

            파일명     red    blue
0  ws_ep_01.png  303132   16736
1  ws_ep_02.png  275566   31789
2  ws_ep_03.png   74956  135169
3  ws_ep_04.png  188820     483
4  ws_ep_05.png  183368    3755

In [18]:
df_rb = df_rb.merge(df_mono, how='left')
df_rb.head()

            파일명     red    blue    mono
0  ws_ep_01.png  303132   16736  139404
1  ws_ep_02.png  275566   31789   97361
2  ws_ep_03.png   74956  135169   36581
3  ws_ep_04.png  188820     483   47397
4  ws_ep_05.png  183368    3755   33317

In [19]:
df_cafe = df_cafe.merge(df_rb, how='left')
df_cafe.head()

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono
0,서서울,은평,스모어,서울 은평구 연서로29길 8-8,37.618952,126.919697,ws_ep_01.png,303132,16736,139404
1,서서울,은평,필라멘트카페,서울 은평구 통일로 883,37.621753,126.919462,ws_ep_02.png,275566,31789,97361
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png,74956,135169,36581
3,서서울,은평,YM Coffee Project,서울 은평구 연서로29길 21-8,37.619095,126.917542,ws_ep_04.png,188820,483,47397
4,서서울,은평,카페달력,서울 은평구 연서로18길 28-2,37.611930,126.920534,ws_ep_05.png,183368,3755,33317

In [20]:
df_cafe[df_cafe['파일명'] == 'cs_jg_03.png']

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono
106,도심,중구,분카샤,서울 중구 을지로14길 20,37.565334,126.991996,cs_jg_03.png,299039,3575,233534

In [21]:
df_cafe[df_cafe['파일명'] == 'cs_jg_12.png']

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono
115,도심,중구,아포테케리,서울특별시 중구 퇴계로 409-9,37.565993,127.016909,cs_jg_12.png,118339,60591,412190

In [22]:
df_cafe[df_cafe['파일명'] == 'cs_ys_02.png']

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono
118,도심,용산,아베크엘,서울 용산구 두텁바위로69길 29,37.550489,126.980649,cs_ys_02.png,192231,1120,188548

In [23]:
df_cafe.loc[(df_cafe['red'] > df_cafe['blue']) & (df_cafe['red'] > df_cafe['mono']), 'tone'] = 'red'
df_cafe.loc[(df_cafe['blue'] > df_cafe['red']) & (df_cafe['blue'] > df_cafe['mono']), 'tone'] = 'blue'
df_cafe.loc[(df_cafe['mono'] > df_cafe['red']) & (df_cafe['mono'] > df_cafe['blue']), 'tone'] = 'mono'
df_cafe.head()

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone
0,서서울,은평,스모어,서울 은평구 연서로29길 8-8,37.618952,126.919697,ws_ep_01.png,303132,16736,139404,red
1,서서울,은평,필라멘트카페,서울 은평구 통일로 883,37.621753,126.919462,ws_ep_02.png,275566,31789,97361,red
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png,74956,135169,36581,blue
3,서서울,은평,YM Coffee Project,서울 은평구 연서로29길 21-8,37.619095,126.917542,ws_ep_04.png,188820,483,47397,red
4,서서울,은평,카페달력,서울 은평구 연서로18길 28-2,37.611930,126.920534,ws_ep_05.png,183368,3755,33317,red

In [25]:
total = (df_cafe['red'].values + df_cafe['blue'].values + df_cafe['mono'])
for col in 'red,blue,mono'.split(','):
    df_cafe[f'{col}(%)'] = np.round(((df_cafe[f'{col}'].values * 100) / total), 2)
df_cafe.head()

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
0,서서울,은평,스모어,서울 은평구 연서로29길 8-8,37.618952,126.919697,ws_ep_01.png,303132,16736,139404,red,66.00,3.64,30.35
1,서서울,은평,필라멘트카페,서울 은평구 통일로 883,37.621753,126.919462,ws_ep_02.png,275566,31789,97361,red,68.09,7.85,24.06
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png,74956,135169,36581,blue,30.38,54.79,14.83
3,서서울,은평,YM Coffee Project,서울 은평구 연서로29길 21-8,37.619095,126.917542,ws_ep_04.png,188820,483,47397,red,79.77,0.20,20.02
4,서서울,은평,카페달력,서울 은평구 연서로18길 28-2,37.611930,126.920534,ws_ep_05.png,183368,3755,33317,red,83.18,1.70,15.11

In [26]:
df_cafe.to_csv('cafe_image_classify.csv', index=False)

In [43]:
df_cafe[df_cafe['지역구'] == '노원']

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
234,강북,노원,아고라커피,서울 노원구 동일로193길 14,37.626024,127.071731,gb_nw_01.png,643592,3459,145780,red,81.18,0.44,18.39
235,강북,노원,토프레소 상계역점,서울 노원구 덕릉로83길 14-3,37.660149,127.074599,gb_nw_02.png,561066,55388,57787,red,83.21,8.21,8.57
236,강북,노원,비스킷플로어,서울 노원구 동일로180길 61-7,37.623206,127.077568,gb_nw_03.png,352529,6682,357814,mono,49.17,0.93,49.90
237,강북,노원,플랫커피,서울 노원구 공릉로39길 20,37.623801,127.078303,gb_nw_04.png,1004968,4579,51029,red,94.76,0.43,4.81
238,강북,노원,ddami coffee,서울 노원구 공릉로 120,37.620610,127.078510,gb_nw_05.png,152509,7689,88593,red,61.30,3.09,35.61
239,강북,노원,표준커피,서울 노원구 공릉로 119-5,37.621006,127.078152,gb_nw_06.png,425845,8180,173475,red,70.10,1.35,28.56
240,강북,노원,스윗레시피,서울 노원구 상계로1길 38,37.657684,127.061695,gb_nw_07.png,583124,25947,200929,red,71.99,3.20,24.81
241,강북,노원,502세컨즈카페카페,서울 노원구 섬밭로 232,37.636632,127.066364,gb_nw_08.png,298432,98018,413550,mono,36.84,12.10,51.06
242,강북,노원,이너모스트,서울 노원구 동일로183길 12-1,37.623145,127.072836,gb_nw_09.png,529477,14309,94930,red,82.90,2.24,14.86
243,강북,노원,오누이,서울 노원구 동일로187길 12-47,37.624590,127.072376,gb_nw_10.png,13119346,3329213,7551441,red,54.66,13.87,31.46
244,강북,노원,moodshare,서울 노원구 공릉로 119-23,37.621487,127.077894,gb_nw_11.png,6728691,1948699,3515378,red,55.19,15.98,28.83
245,강북,노원,쌍뜨떼,서울 노원구 동일로174길 37-16,37.619853,127.077428,gb_nw_12.png,228360,77145,105195,red,55.60,18.78,25.61
246,강북,노원,에이치큐브,서울 노원구 노원로1길 73-12,37.620458,127.082933,gb_nw_13.png,251742,97372,190886,red,46.62,18.03,35.35

In [49]:
area_cafe = df_cafe.groupby('지역구').sum().iloc[:,2:5]
area_cafe

          red     blue      mono
지역구
강남   16062962  1885380   6037138
강동    2614802   375411   1118154
강북   14038381  2366210  11062117
강서    3518774   458234   1274218
관악   11721860  1484585   5175715
광진    2431492   371982   1465703
구로    3448818   300554   2615305
금천   12504138  2356768   5480463
노원   24879681  5676680  12946787
도봉    7923812   619590   4332016
동대문  10048299   647470   2662399
동작   11044288  1334939   5314503
마포    3152877   474595   1559802
서대문   2364773   184131   1132365
서초   11644125  3174813   4980492
성동    2738612   472182    875504
성북   10448123  3321852   8273271
송파    2548720   317866   1443173
양천    2678991   444339   1473237
영등포   4796785   581449   1859119
용산    3363970   524159   2124115
은평    2733076   337709   1052492
종로    3835062  1001186   2947153
중구   10758064  3391446   7733070
중랑    2356204   346818   1488171

In [50]:
total = (area_cafe['red'].values + area_cafe['blue'].values + area_cafe['mono'])
for col in 'red,blue,mono'.split(','):
    area_cafe[f'{col}(%)'] = np.round(((area_cafe[f'{col}'].values * 100) / total), 2)
area_cafe

          red     blue      mono  red(%)  blue(%)  mono(%)
지역구
강남   16062962  1885380   6037138   66.97     7.86    25.17
강동    2614802   375411   1118154   63.65     9.14    27.22
강북   14038381  2366210  11062117   51.11     8.61    40.27
강서    3518774   458234   1274218   67.01     8.73    24.27
관악   11721860  1484585   5175715   63.77     8.08    28.16
광진    2431492   371982   1465703   56.95     8.71    34.33
구로    3448818   300554   2615305   54.19     4.72    41.09
금천   12504138  2356768   5480463   61.47    11.59    26.94
노원   24879681  5676680  12946787  -41.54    13.05    29.76
도봉    7923812   619590   4332016   61.54     4.81    33.65
동대문  10048299   647470   2662399   75.22     4.85    19.93
동작   11044288  1334939   5314503   62.42     7.54    30.04
마포    3152877   474595   1559802   60.78     9.15    30.07
서대문   2364773   184131   1132365   64.24     5.00    30.76
서초   11644125  3174813   4980492   58.81    16.03    25.15
성동    2738612   472182    875504   67.02    11.56    21.43
성북   10448123  3321852   8273271   47.40    15.07    37.53
송파    2548720   317866   1443173   59.14     7.38    33.49
양천    2678991   444339   1473237   58.28     9.67    32.05
영등포   4796785   581449   1859119   66.28     8.03    25.69
용산    3363970   524159   2124115   55.95     8.72    35.33
은평    2733076   337709   1052492   66.28     8.19    25.53
종로    3835062  1001186   2947153   49.27    12.86    37.86
중구   10758064  3391446   7733070   49.16    15.50    35.34
중랑    2356204   346818   1488171   56.22     8.27    35.51

In [51]:
area_cafe.describe()

,red,blue,mono,red(%),blue(%),mono(%)
count,2.500000e+01,2.500000e+01,2.500000e+01,25.000000,25.000000,25.000000
mean,7.346268e+06,1.298014e+06,3.857059e+06,56.063600,9.324800,30.662800
std,5.775883e+06,1.375781e+06,3.285462e+06,21.395406,3.223932,5.722426
min,2.356204e+06,1.841310e+05,8.755040e+05,-41.540000,4.720000,19.930000
25%,2.733076e+06,3.754110e+05,1.465703e+06,55.950000,7.860000,25.690000
50%,3.835062e+06,5.814490e+05,2.615305e+06,60.780000,8.710000,30.070000
75%,1.104429e+07,1.885380e+06,5.314503e+06,64.240000,11.560000,35.330000
max,2.487968e+07,5.676680e+06,1.294679e+07,75.220000,16.030000,41.090000

In [52]:
area_cafe.loc['평균'] = [7346268, 1298014, 3857059, 56.06, 9.32, 30.66]
area_cafe

            red       blue        mono  red(%)  blue(%)  mono(%)
지역구
강남   16062962.0  1885380.0   6037138.0   66.97     7.86    25.17
강동    2614802.0   375411.0   1118154.0   63.65     9.14    27.22
강북   14038381.0  2366210.0  11062117.0   51.11     8.61    40.27
강서    3518774.0   458234.0   1274218.0   67.01     8.73    24.27
관악   11721860.0  1484585.0   5175715.0   63.77     8.08    28.16
광진    2431492.0   371982.0   1465703.0   56.95     8.71    34.33
구로    3448818.0   300554.0   2615305.0   54.19     4.72    41.09
금천   12504138.0  2356768.0   5480463.0   61.47    11.59    26.94
노원   24879681.0  5676680.0  12946787.0  -41.54    13.05    29.76
도봉    7923812.0   619590.0   4332016.0   61.54     4.81    33.65
동대문  10048299.0   647470.0   2662399.0   75.22     4.85    19.93
동작   11044288.0  1334939.0   5314503.0   62.42     7.54    30.04
마포    3152877.0   474595.0   1559802.0   60.78     9.15    30.07
서대문   2364773.0   184131.0   1132365.0   64.24     5.00    30.76
서초   11644125.0  3174813.0   4980492.0   58.81    16.03    25.15
성동    2738612.0   472182.0    875504.0   67.02    11.56    21.43
성북   10448123.0  3321852.0   8273271.0   47.40    15.07    37.53
송파    2548720.0   317866.0   1443173.0   59.14     7.38    33.49
양천    2678991.0   444339.0   1473237.0   58.28     9.67    32.05
영등포   4796785.0   581449.0   1859119.0   66.28     8.03    25.69
용산    3363970.0   524159.0   2124115.0   55.95     8.72    35.33
은평    2733076.0   337709.0   1052492.0   66.28     8.19    25.53
종로    3835062.0  1001186.0   2947153.0   49.27    12.86    37.86
중구   10758064.0  3391446.0   7733070.0   49.16    15.50    35.34
중랑    2356204.0   346818.0   1488171.0   56.22     8.27    35.51
평균    7346268.0  1298014.0   3857059.0   56.06     9.32    30.66

In [38]:
area_cafe.index

Index(['강남', '강동', '강북', '강서', '관악', '광진', '구로', '금천', '노원', '도봉', '동대문', '동작',
       '마포', '서대문', '서초', '성동', '성북', '송파', '양천', '영등포', '용산', '은평', '종로',
       '중구', '중랑', '평균'],
      dtype='object', name='지역구')

In [53]:
area_cafe = area_cafe.reindex(['평균', '강남', '강동', '강북', '강서', '관악',\
                   '광진', '구로', '금천', '노원', '도봉', '동대문',\
                   '동작', '마포', '서대문', '서초', '성동', '성북',\
                   '송파', '양천', '영등포', '용산', '은평', '종로',\
                   '중구', '중랑'])
area_cafe

            red       blue        mono  red(%)  blue(%)  mono(%)
지역구
평균    7346268.0  1298014.0   3857059.0   56.06     9.32    30.66
강남   16062962.0  1885380.0   6037138.0   66.97     7.86    25.17
강동    2614802.0   375411.0   1118154.0   63.65     9.14    27.22
강북   14038381.0  2366210.0  11062117.0   51.11     8.61    40.27
강서    3518774.0   458234.0   1274218.0   67.01     8.73    24.27
관악   11721860.0  1484585.0   5175715.0   63.77     8.08    28.16
광진    2431492.0   371982.0   1465703.0   56.95     8.71    34.33
구로    3448818.0   300554.0   2615305.0   54.19     4.72    41.09
금천   12504138.0  2356768.0   5480463.0   61.47    11.59    26.94
노원   24879681.0  5676680.0  12946787.0  -41.54    13.05    29.76
도봉    7923812.0   619590.0   4332016.0   61.54     4.81    33.65
동대문  10048299.0   647470.0   2662399.0   75.22     4.85    19.93
동작   11044288.0  1334939.0   5314503.0   62.42     7.54    30.04
마포    3152877.0   474595.0   1559802.0   60.78     9.15    30.07
서대문   2364773.0   184131.0   1132365.0   64.24     5.00    30.76
서초   11644125.0  3174813.0   4980492.0   58.81    16.03    25.15
성동    2738612.0   472182.0    875504.0   67.02    11.56    21.43
성북   10448123.0  3321852.0   8273271.0   47.40    15.07    37.53
송파    2548720.0   317866.0   1443173.0   59.14     7.38    33.49
양천    2678991.0   444339.0   1473237.0   58.28     9.67    32.05
영등포   4796785.0   581449.0   1859119.0   66.28     8.03    25.69
용산    3363970.0   524159.0   2124115.0   55.95     8.72    35.33
은평    2733076.0   337709.0   1052492.0   66.28     8.19    25.53
종로    3835062.0  1001186.0   2947153.0   49.27    12.86    37.86
중구   10758064.0  3391446.0   7733070.0   49.16    15.50    35.34
중랑    2356204.0   346818.0   1488171.0   56.22     8.27    35.51

In [54]:
area_cafe.to_csv('cafe_image_classify_with_area.csv')

In [47]:
reds = dict()
blues = dict()
monos = dict()

for name in pathes[:10]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_color_result/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [48]:
monos

{'ws_ep_01.png': 7400,
 'ws_ep_02.png': 4300,
 'ws_ep_03.png': 5150,
 'ws_ep_04.png': 3550,
 'ws_ep_05.png': 0,
 'ws_ep_06.png': 4400,
 'ws_ep_07.png': 4200,
 'ws_ep_08.png': 3600,
 'ws_ep_09.png': 5650,
 'ws_ep_10.png': 6400}

In [49]:
for name in pathes[10:65]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_color_result/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [50]:
for name in pathes[65:130]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_color_result/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [51]:
for name in pathes[130:195]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_color_result/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [52]:
for name in pathes[195:260]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_color_result/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [53]:
for name in pathes[260:]:
    image_name = 'C:/Users/rlath/dataitgirls/color_on_seoul_cafe/cafe_color_result/' + name
    image = cv2.imread(image_name, cv2.IMREAD_COLOR)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

    image_list = [list(lst) for img in image for lst in img]

    rb = [rgb_classfy(rgb) for rgb in image_list]

    monos[name] = rb.count('mono')
    reds[name] = rb.count('red')
    blues[name] = rb.count('blue')

In [63]:
df_red = pd.DataFrame()
df_red['파일명'] = reds.keys()
df_red['red'] = reds.values()
# df_red.head()

df_blue = pd.DataFrame()
df_blue['파일명'] = blues.keys()
df_blue['blue'] = blues.values()
# df_blue.head()

df_mono = pd.DataFrame()
df_mono['파일명'] = monos.keys()
df_mono['mono'] = monos.values()
# df_mono.head()

df_rb = df_red.merge(df_blue, how='left')
# df_rb.head()

df_rb = df_rb.merge(df_mono, how='left')
# df_rb.head()

df_cafe = df_cafe.merge(df_rb, how='left')

In [62]:
df_cafe.loc[(df_cafe['red'] > df_cafe['blue']) & (df_cafe['red'] > df_cafe['mono']), 'tone'] = 'warm'
df_cafe.loc[(df_cafe['blue'] > df_cafe['red']) & (df_cafe['blue'] > df_cafe['mono']), 'tone'] = 'cool'
df_cafe.loc[(df_cafe['mono'] > df_cafe['red']) & (df_cafe['mono'] > df_cafe['blue']), 'tone'] = 'mono'
df_cafe.head()

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
0,서서울,은평,스모어,서울 은평구 연서로29길 8-8,37.618952,126.919697,ws_ep_01.png,7600,0,7400,warm,50.67,0.00,49.33
1,서서울,은평,필라멘트카페,서울 은평구 통일로 883,37.621753,126.919462,ws_ep_02.png,10700,0,4300,warm,71.33,0.00,28.67
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png,1950,7900,5150,cool,13.00,52.67,34.33
3,서서울,은평,YM Coffee Project,서울 은평구 연서로29길 21-8,37.619095,126.917542,ws_ep_04.png,11450,0,3550,warm,76.33,0.00,23.67
4,서서울,은평,카페달력,서울 은평구 연서로18길 28-2,37.611930,126.920534,ws_ep_05.png,15000,0,0,warm,100.00,0.00,0.00

In [55]:
total = (df_cafe['red'].values + df_cafe['blue'].values + df_cafe['mono'])
for col in 'red,blue,mono'.split(','):
    df_cafe[f'{col}(%)'] = np.round(((df_cafe[f'{col}'].values * 100) / total), 2)
df_cafe.head()

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
0,서서울,은평,스모어,서울 은평구 연서로29길 8-8,37.618952,126.919697,ws_ep_01.png,7600,0,7400,red,50.67,0.00,49.33
1,서서울,은평,필라멘트카페,서울 은평구 통일로 883,37.621753,126.919462,ws_ep_02.png,10700,0,4300,red,71.33,0.00,28.67
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png,1950,7900,5150,blue,13.00,52.67,34.33
3,서서울,은평,YM Coffee Project,서울 은평구 연서로29길 21-8,37.619095,126.917542,ws_ep_04.png,11450,0,3550,red,76.33,0.00,23.67
4,서서울,은평,카페달력,서울 은평구 연서로18길 28-2,37.611930,126.920534,ws_ep_05.png,15000,0,0,red,100.00,0.00,0.00

In [64]:
df_cafe[df_cafe['tone'] == 'cool']

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png,1950,7900,5150,cool,13.00,52.67,34.33
41,서남,강서,헤븐온탑 김포공항점,서울 강서구 하늘길 38,37.566773,126.802512,sw_gs_03.png,5150,7850,2000,cool,34.33,52.33,13.33
160,남서울,금천,커피이즈,서울 금천구 은행나무로 50,37.451144,126.903236,ss_gc_05.png,5500,5800,3700,cool,36.67,38.67,24.67

In [61]:
df_cafe[df_cafe['파일명'] == 'cs_jr_03.png']

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
93,도심,종로,빌즈,서울 종로구 종로3길 17,37.5717,126.979715,cs_jr_03.png,0,6950,8050,mono,0.0,46.33,53.67

In [30]:
df_cafe[df_cafe['파일명'] == 'gb_sb_01.png']

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
221,강북,성북,카페오월,서울 성북구 동소문로 111,37.593363,127.017273,gb_sb_01.png,12750,0,2250,red,85.0,0.0,15.0

In [31]:
df_cafe[df_cafe['파일명'] == 'gb_nw_13.png']

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
246,강북,노원,에이치큐브,서울 노원구 노원로1길 73-12,37.620458,127.082933,gb_nw_13.png,15000,0,0,red,100.0,0.0,0.0

In [65]:
df_cafe[df_cafe['파일명'] == 'ws_ep_11.png']

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
10,서서울,은평,제이츠 커피 브루어스,서울 은평구 연서로25길 20-3,37.617422,126.916894,ws_ep_11.png,1850,1150,12000,mono,12.33,7.67,80.0

In [67]:
df_cafe.head()

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
0,서서울,은평,스모어,서울 은평구 연서로29길 8-8,37.618952,126.919697,ws_ep_01.png,7600,0,7400,warm,50.67,0.00,49.33
1,서서울,은평,필라멘트카페,서울 은평구 통일로 883,37.621753,126.919462,ws_ep_02.png,10700,0,4300,warm,71.33,0.00,28.67
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png,1950,7900,5150,cool,13.00,52.67,34.33
3,서서울,은평,YM Coffee Project,서울 은평구 연서로29길 21-8,37.619095,126.917542,ws_ep_04.png,11450,0,3550,warm,76.33,0.00,23.67
4,서서울,은평,카페달력,서울 은평구 연서로18길 28-2,37.611930,126.920534,ws_ep_05.png,15000,0,0,warm,100.00,0.00,0.00

In [68]:
df_cafe.to_csv('cafe_color_classify.csv', index=False)

In [2]:
df_color = pd.read_csv('cafe_color_classify.csv')
df_color.head()

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
0,서서울,은평,스모어,서울 은평구 연서로29길 8-8,37.618952,126.919697,ws_ep_01.png,7600,0,7400,warm,50.67,0.00,49.33
1,서서울,은평,필라멘트카페,서울 은평구 통일로 883,37.621753,126.919462,ws_ep_02.png,10700,0,4300,warm,71.33,0.00,28.67
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png,1950,7900,5150,cool,13.00,52.67,34.33
3,서서울,은평,YM Coffee Project,서울 은평구 연서로29길 21-8,37.619095,126.917542,ws_ep_04.png,11450,0,3550,warm,76.33,0.00,23.67
4,서서울,은평,카페달력,서울 은평구 연서로18길 28-2,37.611930,126.920534,ws_ep_05.png,15000,0,0,warm,100.00,0.00,0.00

In [4]:
df_color[df_color['지역구'] == '관악']

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
143,남서울,관악,쟝블랑제리,서울 관악구 낙성대역길 8,37.477148,126.961953,ss_ga_01.png,8450,0,6550,warm,56.33,0.0,43.67
144,남서울,관악,오후의 과일,서울 관악구 관악로14길 15,37.479182,126.953477,ss_ga_02.png,2500,0,12500,mono,16.67,0.0,83.33
145,남서울,관악,egg thumb,서울 관악구 관악로14길 98,37.477765,126.957785,ss_ga_03.png,13150,0,1850,warm,87.67,0.0,12.33
146,남서울,관악,아모르미오,서울 관악구 행운2길 20,37.479053,126.960026,ss_ga_04.png,7950,0,7050,warm,53.00,0.0,47.00
147,남서울,관악,미드레벨,서울 관악구 관악로14길 63,37.478558,126.956022,ss_ga_05.png,13500,0,1500,warm,90.00,0.0,10.00
148,남서울,관악,RIVER BELL,서울 관악구 봉천로 524,37.479089,126.955940,ss_ga_06.png,8000,0,7000,warm,53.33,0.0,46.67
149,남서울,관악,황홀경,서울 관악구 관악로14길 37,37.478906,126.954592,ss_ga_07.png,12000,0,3000,warm,80.00,0.0,20.00
150,남서울,관악,더은교,서울 관악구 봉천로 600-1,37.476004,126.963775,ss_ga_08.png,11900,0,3100,warm,79.33,0.0,20.67
151,남서울,관악,그날의 브런치,서울 관악구 남부순환로230길 48,37.477958,126.955203,ss_ga_09.png,13850,0,1150,warm,92.33,0.0,7.67
152,남서울,관악,서울테이블,서울 관악구 관악로14길 2,37.478827,126.953904,ss_ga_10.png,8900,0,6100,warm,59.33,0.0,40.67
153,남서울,관악,메이드바이아린,서울 관악구 관악로12길 47,37.477798,126.955071,ss_ga_11.png,12150,0,2850,warm,81.00,0.0,19.00
154,남서울,관악,포말커피,서울 관악구 신림로67길 25,37.485752,126.927855,ss_ga_12.png,8800,0,6200,warm,58.67,0.0,41.33
155,남서울,관악,티라노커피,서울 관악구 남부순환로230길 39,37.478297,126.955586,ss_ga_13.png,9300,0,5700,warm,62.00,0.0,38.00

In [26]:
area_colors = df_color.groupby('지역구').sum()
area_colors.columns

Index(['위도', '경도', 'red', 'blue', 'mono', 'red(%)', 'blue(%)', 'mono(%)'], dtype='object')

In [27]:
area_colors = area_colors.iloc[:, 2:]

In [28]:
total = area_colors['red'].values + area_colors['blue'].values + area_colors['mono'].values

In [29]:
for col in 'red,blue,mono'.split(','):
    area_colors[f'{col}(%)'] = np.round((area_colors[f'{col}'] * 100) / total, 2)
area_colors

        red   blue   mono  red(%)  blue(%)  mono(%)
지역구
강남   135650   1550  57800   69.56     0.79    29.64
강동   133650   2500  58850   68.54     1.28    30.18
강북   137500   4550  52950   70.51     2.33    27.15
강서   126000  12200  56800   64.62     6.26    29.13
관악   130450      0  64550   66.90     0.00    33.10
광진   131100   1450  62450   67.23     0.74    32.03
구로   118950    650  75400   61.00     0.33    38.67
금천   117800   9900  67300   60.41     5.08    34.51
노원   140100   1100  53800   71.85     0.56    27.59
도봉   111850   1700  81450   57.36     0.87    41.77
동대문  139150   1300  54550   71.36     0.67    27.97
동작   132450    350  62200   67.92     0.18    31.90
마포   121500   5100  68400   62.31     2.62    35.08
서대문  127900      0  67100   65.59     0.00    34.41
서초   128950  14900  51150   66.13     7.64    26.23
성동   136550   4900  53550   70.03     2.51    27.46
성북   109300   2150  83550   56.05     1.10    42.85
송파   112800      0  82200   57.85     0.00    42.15
양천   124750   3700  66550   63.97     1.90    34.13
영등포  139000    750  55250   71.28     0.38    28.33
용산   105850   4950  84200   54.28     2.54    43.18
은평   117600  11400  66000   60.31     5.85    33.85
종로   102650   6950  85400   52.64     3.56    43.79
중구   107900   4450  82650   55.33     2.28    42.38
중랑   123900      0  71100   63.54     0.00    36.46

In [30]:
area_colors.describe()

,red,blue,mono,red(%),blue(%),mono(%)
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.00000
mean,124532.000000,3860.000000,66608.000000,63.862800,1.978800,34.15760
std,11415.841333,4211.220132,11331.259124,5.854589,2.160701,5.81097
min,102650.000000,0.000000,51150.000000,52.640000,0.000000,26.23000
25%,117600.000000,750.000000,56800.000000,60.310000,0.380000,29.13000
50%,126000.000000,2150.000000,66000.000000,64.620000,1.100000,33.85000
75%,133650.000000,4950.000000,75400.000000,68.540000,2.540000,38.67000
max,140100.000000,14900.000000,85400.000000,71.850000,7.640000,43.79000

In [31]:
area_colors.loc['평균'] = [124532, 3860, 66608, 63.86, 1.98, 34.16]

In [32]:
area_colors

          red     blue     mono  red(%)  blue(%)  mono(%)
지역구
강남   135650.0   1550.0  57800.0   69.56     0.79    29.64
강동   133650.0   2500.0  58850.0   68.54     1.28    30.18
강북   137500.0   4550.0  52950.0   70.51     2.33    27.15
강서   126000.0  12200.0  56800.0   64.62     6.26    29.13
관악   130450.0      0.0  64550.0   66.90     0.00    33.10
광진   131100.0   1450.0  62450.0   67.23     0.74    32.03
구로   118950.0    650.0  75400.0   61.00     0.33    38.67
금천   117800.0   9900.0  67300.0   60.41     5.08    34.51
노원   140100.0   1100.0  53800.0   71.85     0.56    27.59
도봉   111850.0   1700.0  81450.0   57.36     0.87    41.77
동대문  139150.0   1300.0  54550.0   71.36     0.67    27.97
동작   132450.0    350.0  62200.0   67.92     0.18    31.90
마포   121500.0   5100.0  68400.0   62.31     2.62    35.08
서대문  127900.0      0.0  67100.0   65.59     0.00    34.41
서초   128950.0  14900.0  51150.0   66.13     7.64    26.23
성동   136550.0   4900.0  53550.0   70.03     2.51    27.46
성북   109300.0   2150.0  83550.0   56.05     1.10    42.85
송파   112800.0      0.0  82200.0   57.85     0.00    42.15
양천   124750.0   3700.0  66550.0   63.97     1.90    34.13
영등포  139000.0    750.0  55250.0   71.28     0.38    28.33
용산   105850.0   4950.0  84200.0   54.28     2.54    43.18
은평   117600.0  11400.0  66000.0   60.31     5.85    33.85
종로   102650.0   6950.0  85400.0   52.64     3.56    43.79
중구   107900.0   4450.0  82650.0   55.33     2.28    42.38
중랑   123900.0      0.0  71100.0   63.54     0.00    36.46
평균   124532.0   3860.0  66608.0   63.86     1.98    34.16

In [33]:
area_colors.index

Index(['강남', '강동', '강북', '강서', '관악', '광진', '구로', '금천', '노원', '도봉', '동대문', '동작',
       '마포', '서대문', '서초', '성동', '성북', '송파', '양천', '영등포', '용산', '은평', '종로',
       '중구', '중랑', '평균'],
      dtype='object', name='지역구')

In [35]:
area_colors = area_colors.reindex(['평균', '강남', '강동', '강북', '강서', '관악', '광진',\
                     '구로', '금천', '노원', '도봉', '동대문', '동작', '마포',\
                     '서대문', '서초', '성동', '성북', '송파', '양천', '영등포',\
                     '용산', '은평', '종로', '중구', '중랑'])

In [36]:
area_colors.to_csv('cafe_color_classify_with_area.csv', index=False)

In [1]:
import pandas as pd

In [100]:
df_cafe = pd.read_csv('cafe_image_classify.csv')
df_cafe.head()

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
0,서서울,은평,스모어,서울 은평구 연서로29길 8-8,37.618952,126.919697,ws_ep_01.png,303132,16736,139404,red,66.00,3.64,30.35
1,서서울,은평,필라멘트카페,서울 은평구 통일로 883,37.621753,126.919462,ws_ep_02.png,275566,31789,97361,red,68.09,7.85,24.06
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png,74956,135169,36581,blue,30.38,54.79,14.83
3,서서울,은평,YM Coffee Project,서울 은평구 연서로29길 21-8,37.619095,126.917542,ws_ep_04.png,188820,483,47397,red,79.77,0.20,20.02
4,서서울,은평,카페달력,서울 은평구 연서로18길 28-2,37.611930,126.920534,ws_ep_05.png,183368,3755,33317,red,83.18,1.70,15.11

In [101]:
df_area = df_cafe.groupby('지역구').sum()
df_area

,위도,경도,red,blue,mono,red(%),blue(%),mono(%)
지역구,,,,,,,,
강남,487.675381,1651.418306,16062962,1885380,6037138,882.28,104.99,312.74
강동,487.993388,1652.716251,2614802,375411,1118154,827.92,127.45,344.62
강북,489.261204,1651.268435,14038381,2366210,11062117,941.90,84.15,273.93
강서,488.291715,1648.842810,3518774,458234,1274218,886.39,107.21,306.38
관악,487.224337,1650.411190,11721860,1484585,5175715,852.35,97.99,349.65
광진,488.101943,1652.001387,2431492,371982,1465703,741.81,117.77,440.41
구로,487.469262,1649.361217,3448818,300554,2615305,769.68,63.46,466.84
금천,487.081397,1649.607111,12504138,2356768,5480463,832.53,158.15,309.30
노원,489.178643,1651.970388,24879681,5676680,12946787,843.52,98.65,357.82
도봉,489.549342,1651.498767,7923812,619590,4332016,753.09,71.90,475.02
동대문,488.606162,1651.657236,10048299,647470,2662399,847.77,101.12,351.10
동작,487.510875,1650.350364,11044288,1334939,5314503,819.65,90.83,389.52
마포,488.169850,1649.986002,3152877,474595,1559802,808.14,111.25,380.62
서대문,488.351243,1650.244277,2364773,184131,1132365,840.56,64.21,395.22
서초,487.393400,1651.238482,11644125,3174813,4980492,814.28,182.05,303.68
성동,488.085148,1651.655157,2738612,472182,875504,886.09,135.27,278.61
성북,488.690712,1651.108834,10448123,3321852,8273271,749.89,113.44,436.75
송파,487.619868,1652.401875,2548720,317866,1443173,765.02,96.35,438.64
양천,487.838092,1649.233533,2678991,444339,1473237,802.47,123.31,374.22
영등포,487.807279,1649.803581,4796785,581449,1859119,864.30,104.65,331.06
용산,488.012443,1650.860576,3363970,524159,2124115,732.17,108.16,459.68
은평,489.033215,1649.966898,2733076,337709,1052492,837.68,124.30,337.99
종로,488.533857,1650.841571,3835062,1001186,2947153,699.31,127.78,472.89
중구,488.302072,1650.898292,10758064,3391446,7733070,675.87,134.08,490.06
중랑,488.771393,1652.182170,2356204,346818,1488171,737.11,93.98,468.93

In [102]:
df_area = df_area.iloc[:, 2:5]
df_area

          red     blue      mono
지역구
강남   16062962  1885380   6037138
강동    2614802   375411   1118154
강북   14038381  2366210  11062117
강서    3518774   458234   1274218
관악   11721860  1484585   5175715
광진    2431492   371982   1465703
구로    3448818   300554   2615305
금천   12504138  2356768   5480463
노원   24879681  5676680  12946787
도봉    7923812   619590   4332016
동대문  10048299   647470   2662399
동작   11044288  1334939   5314503
마포    3152877   474595   1559802
서대문   2364773   184131   1132365
서초   11644125  3174813   4980492
성동    2738612   472182    875504
성북   10448123  3321852   8273271
송파    2548720   317866   1443173
양천    2678991   444339   1473237
영등포   4796785   581449   1859119
용산    3363970   524159   2124115
은평    2733076   337709   1052492
종로    3835062  1001186   2947153
중구   10758064  3391446   7733070
중랑    2356204   346818   1488171

In [103]:
df_area.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 강남 to 중랑
Data columns (total 3 columns):
red     25 non-null int64
blue    25 non-null int64
mono    25 non-null int64
dtypes: int64(3)
memory usage: 800.0+ bytes

In [104]:
ratios = df_area.loc[:, 'red':'mono'].div(df_area.sum(axis=1), axis='index')
ratios.columns = [c + '%' for c in ratios.columns]
ratios

         red%     blue%     mono%
지역구
강남   0.669695  0.078605  0.251700
강동   0.636458  0.091377  0.272165
강북   0.511105  0.086148  0.402746
강서   0.670086  0.087262  0.242652
관악   0.637676  0.080762  0.281562
광진   0.569546  0.087132  0.343322
구로   0.541869  0.047222  0.410909
금천   0.614715  0.115861  0.269424
노원   0.571905  0.130489  0.297606
도봉   0.615422  0.048122  0.336456
동대문  0.752221  0.048470  0.199309
동작   0.624192  0.075447  0.300361
마포   0.607810  0.091492  0.300698
서대문  0.642380  0.050018  0.307602
서초   0.588104  0.160349  0.251547
성동   0.670194  0.115553  0.214254
성북   0.473983  0.150697  0.375320
송파   0.591383  0.073755  0.334862
양천   0.582824  0.096668  0.320508
영등포  0.662782  0.080340  0.256878
용산   0.559520  0.087182  0.353298
은평   0.662841  0.081903  0.255256
종로   0.492723  0.128631  0.378646
중구   0.491627  0.154984  0.353389
중랑   0.562180  0.082749  0.355071

In [105]:
df_area = df_area.join(ratios)
df_area

          red     blue      mono      red%     blue%     mono%
지역구
강남   16062962  1885380   6037138  0.669695  0.078605  0.251700
강동    2614802   375411   1118154  0.636458  0.091377  0.272165
강북   14038381  2366210  11062117  0.511105  0.086148  0.402746
강서    3518774   458234   1274218  0.670086  0.087262  0.242652
관악   11721860  1484585   5175715  0.637676  0.080762  0.281562
광진    2431492   371982   1465703  0.569546  0.087132  0.343322
구로    3448818   300554   2615305  0.541869  0.047222  0.410909
금천   12504138  2356768   5480463  0.614715  0.115861  0.269424
노원   24879681  5676680  12946787  0.571905  0.130489  0.297606
도봉    7923812   619590   4332016  0.615422  0.048122  0.336456
동대문  10048299   647470   2662399  0.752221  0.048470  0.199309
동작   11044288  1334939   5314503  0.624192  0.075447  0.300361
마포    3152877   474595   1559802  0.607810  0.091492  0.300698
서대문   2364773   184131   1132365  0.642380  0.050018  0.307602
서초   11644125  3174813   4980492  0.588104  0.160349  0.251547
성동    2738612   472182    875504  0.670194  0.115553  0.214254
성북   10448123  3321852   8273271  0.473983  0.150697  0.375320
송파    2548720   317866   1443173  0.591383  0.073755  0.334862
양천    2678991   444339   1473237  0.582824  0.096668  0.320508
영등포   4796785   581449   1859119  0.662782  0.080340  0.256878
용산    3363970   524159   2124115  0.559520  0.087182  0.353298
은평    2733076   337709   1052492  0.662841  0.081903  0.255256
종로    3835062  1001186   2947153  0.492723  0.128631  0.378646
중구   10758064  3391446   7733070  0.491627  0.154984  0.353389
중랑    2356204   346818   1488171  0.562180  0.082749  0.355071

In [28]:
colors = pd.read_csv('cafe_color_classify.csv')
colors

,지역,지역구,카페명,주소,위도,경도,파일명,red,blue,mono,tone,red(%),blue(%),mono(%)
0,서서울,은평,스모어,서울 은평구 연서로29길 8-8,37.618952,126.919697,ws_ep_01.png,7600,0,7400,warm,50.67,0.00,49.33
1,서서울,은평,필라멘트카페,서울 은평구 통일로 883,37.621753,126.919462,ws_ep_02.png,10700,0,4300,warm,71.33,0.00,28.67
2,서서울,은평,HUGA,서울 은평구 진관2로 19,37.634753,126.919774,ws_ep_03.png,1950,7900,5150,cool,13.00,52.67,34.33
3,서서울,은평,YM Coffee Project,서울 은평구 연서로29길 21-8,37.619095,126.917542,ws_ep_04.png,11450,0,3550,warm,76.33,0.00,23.67
4,서서울,은평,카페달력,서울 은평구 연서로18길 28-2,37.611930,126.920534,ws_ep_05.png,15000,0,0,warm,100.00,0.00,0.00
5,서서울,은평,CAFE ASA,서울 은평구 불광천길 338,37.589068,126.914094,ws_ep_06.png,10600,0,4400,warm,70.67,0.00,29.33
6,서서울,은평,1인1잔,서울 은평구 연서로 534,37.619088,126.923502,ws_ep_07.png,10800,0,4200,warm,72.00,0.00,28.00
7,서서울,은평,카페뤽상부르,서울 은평구 연서로25길 6-11,37.617222,126.918147,ws_ep_08.png,11400,0,3600,warm,76.00,0.00,24.00
8,서서울,은평,Tamnadoda cafe,서울 은평구 통일로83길 5-14,37.620598,126.918742,ws_ep_09.png,7000,2350,5650,warm,46.67,15.67,37.67
9,서서울,은평,북한산제빵소,서울 은평구 진관동 126-11,37.639481,126.940143,ws_ep_10.png,8600,0,6400,warm,57.33,0.00,42.67
10,서서울,은평,제이츠 커피 브루어스,서울 은평구 연서로25길 20-3,37.617422,126.916894,ws_ep_11.png,1850,1150,12000,mono,12.33,7.67,80.00
11,서서울,은평,슬러프커피,서울 은평구 연서로16길 15-7,37.609794,126.918489,ws_ep_12.png,9800,0,5200,warm,65.33,0.00,34.67
12,서서울,은평,다용도실,서울 은평구 연서로20길 17,37.614057,126.919878,ws_ep_13.png,10850,0,4150,warm,72.33,0.00,27.67
13,서서울,마포,프릳츠 도화점,서울 마포구 새창로2길 17,37.540976,126.949047,ws_mp_01.png,2900,0,12100,mono,19.33,0.00,80.67
14,서서울,마포,피오니,서울 마포구 어울마당로 56,37.549912,126.921243,ws_mp_02.png,8800,5100,1100,warm,58.67,34.00,7.33
15,서서울,마포,앤트러사이트 합정점,서울 마포구 토정로5길 10,37.545801,126.918321,ws_mp_03.png,10700,0,4300,warm,71.33,0.00,28.67
16,서서울,마포,카페부라노,서울 마포구 동교로23길 14,37.556871,126.920886,ws_mp_04.png,4150,0,10850,mono,27.67,0.00,72.33
17,서서울,마포,소복 홍대 본점,서울 마포구 어울마당로 58,37.550066,126.921270,ws_mp_05.png,8650,0,6350,warm,57.67,0.00,42.33
18,서서울,마포,허밍벨라,서울 마포구 독막로7길 57,37.550322,126.919935,ws_mp_06.png,15000,0,0,warm,100.00,0.00,0.00
19,서서울,마포,젤라띠젤라띠,서울 마포구 와우산로17길 12,37.550275,126.922303,ws_mp_07.png,10450,0,4550,warm,69.67,0.00,30.33
20,서서울,마포,커피가게동경,서울 마포구 망원로6길 21,37.555910,126.903538,ws_mp_08.png,9600,0,5400,warm,64.00,0.00,36.00
21,서서울,마포,아오이토리,서울 마포구 와우산로29길 8,37.554739,126.929439,ws_mp_09.png,5550,0,9450,mono,37.00,0.00,63.00
22,서서울,마포,안티크코코,서울 마포구 독막로 64,37.547582,126.920481,ws_mp_10.png,11700,0,3300,warm,78.00,0.00,22.00
23,서서울,마포,카페 레드빅,서울 마포구 잔다리로6길 5,37.552104,126.919443,ws_mp_11.png,9350,0,5650,warm,62.33,0.00,37.67
24,서서울,마포,카페하이웨스트,서울 마포구 성미산로 167-9,37.564532,126.925063,ws_mp_12.png,12850,0,2150,warm,85.67,0.00,14.33
25,서서울,마포,블랑드티,서울 마포구 양화로 61,37.550762,126.915032,ws_mp_13.png,11800,0,3200,warm,78.67,0.00,21.33
26,서서울,서대문,카페 카페,서울 서대문구 연세로12길 19,37.559008,126.938163,ws_sdm_01.png,12350,0,2650,warm,82.33,0.00,17.67
27,서서울,서대문,호밀밭,서울 서대문구 신촌역로 43,37.558912,126.940633,ws_sdm_02.png,10750,0,4250,warm,71.67,0.00,28.33
28,서서울,서대문,매뉴팩트커피,서울 서대문구 연희로11길 29,37.567758,126.929598,ws_sdm_03.png,5000,0,10000,mono,33.33,0.00,66.67
29,서서울,서대문,어반앨리스,서울 서대문구 이화여대1길 10,37.557609,126.944902,ws_sdm_04.png,13900,0,1100,warm,92.67,0.00,7.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,동서울,광진,카페호이,서울 광진구 동일로20길 80,37.540090,127.067828,es_gj_10.png,9300,0,5700,warm,62.00,0.00,38.00
296,동서울,광진,필라멘트스터디카페,서울 광진구 동일로22길 117-17,37.541409,127.070756,es_gj_11.png,12400,0,2600,warm,82.67,0.00,17.33
297,동서울,광진,커피마켓,서울 광진구 아차산로33길 60,37.542820,127.071129,es_gj_12.png,10050,0,4950,warm,67.00,0.00,33.00
298,동서울,광진,엘리펀트,서울 광진구 동일로 76,37.567811,127.080785,es_gj_13.png,4900,0,10100,mono,32.67,0.00,67.33
299,동남,강동,카페드하이몬드,서울 강동구 천호대로 1022,37.537595,127.125370,se_gd_01.png,10650,0,4350,warm,71.00,0.00,29.00
300,동남,강동,커피와글,서울 강동구 올림픽로62길 5-27,37.537531,127.123697,se_gd_02.png,8700,0,6300,warm,58.00,0.00,42.00
301,동남,강동,옹끌카페,서울 강동구 진황도로 4-9,37.539636,127.128018,se_gd_03.png,9650,0,5350,warm,64.33,0.00,35.67
302,동남,강동,감성커피 천호,서울 강동구 구천면로 192,37.546454,127.140148,se_gd_04.png,9400,1650,3950,warm,62.67,11.00,26.33
303,동남,강동,카페 그라운드,서울 강동구 올림픽로 756,37.548631,127.127258,se_gd_05.png,11150,0,3850,warm,74.33,0.00,25.67
304,동남,강동,카페 메종드한,서울 강동구 강동대로 177,37.525171,127.126442,se_gd_06.png,14150,850,0,warm,94.33,5.67,0.00
305,동남,강동,커피몽타주,서울 강동구 올림픽로48길 23-12,37.529461,127.121850,se_gd_07.png,10000,0,5000,warm,66.67,0.00,33.33
306,동남,강동,평상시,서울 강동구 고덕로20길 26,37.553532,127.133608,se_gd_08.png,7600,0,7400,warm,50.67,0.00,49.33
307,동남,강동,피에로 커피,서울 강동구 성내로14길 27,37.526568,127.126611,se_gd_09.png,11100,0,3900,warm,74.00,0.00,26.00
308,동남,강동,페더커피,서울 강동구 진황도로 123,37.534743,127.139943,se_gd_10.png,13850,0,1150,warm,92.33,0.00,7.67
309,동남,강동,엘리펀트커피,서울 강동구 양재대로 1548,37.543638,127.142488,se_gd_11.png,9350,0,5650,warm,62.33,0.00,37.67
310,동남,강동,더츠커피 가르텐페스트점,서울 강동구 강동대로 179,37.524981,127.126706,se_gd_12.png,11100,0,3900,warm,74.00,0.00,26.00
311,동남,강동,스윗솔트,서울 강동구 상암로 286,37.545448,127.154112,se_gd_13.png,6950,0,8050,mono,46.33,0.00,53.67
312,동남,송파,빌즈 잠실,서울 송파구 올림픽로 300,37.521352,127.102610,se_sp_01.png,4750,0,10250,mono,31.67,0.00,68.33
313,동남,송파,라라브레드,서울 송파구 오금로16길 4,37.511099,127.109094,se_sp_02.png,12350,0,2650,warm,82.33,0.00,17.67
314,동남,송파,반고흐카페 롯데월드점,서울 송파구 올림픽로 300,37.521352,127.102610,se_sp_03.png,6650,0,8350,mono,44.33,0.00,55.67
315,동남,송파,뉴질랜드스토리,서울 송파구 석촌호수로 268,37.509688,127.105707,se_sp_04.png,9400,0,5600,warm,62.67,0.00,37.33
316,동남,송파,카페드로잉,서울 송파구 송파대로 111,37.485686,127.119324,se_sp_05.png,10600,0,4400,warm,70.67,0.00,29.33
317,동남,송파,가배도,서울 송파구 백제고분로45길 6,37.509230,127.110825,se_sp_06.png,8250,0,6750,warm,55.00,0.00,45.00
318,동남,송파,피치그레이,서울 송파구 가락로21길 14-1,37.503631,127.110951,se_sp_07.png,7300,0,7700,mono,48.67,0.00,51.33
319,동남,송파,서울리즘,서울 송파구 백제고분로 435,37.509745,127.111535,se_sp_08.png,5000,0,10000,mono,33.33,0.00,66.67
320,동남,송파,카페단지,서울 송파구 백제고분로45길 12,37.509586,127.110133,se_sp_09.png,10050,0,4950,warm,67.00,0.00,33.00
321,동남,송파,어나더선데이,서울 송파구 송파대로48길 3,37.508446,127.104935,se_sp_10.png,10000,0,5000,warm,66.67,0.00,33.33
322,동남,송파,벨라스가든,서울 송파구 백제고분로41길 42-19,37.510044,127.106276,se_sp_11.png,10750,0,4250,warm,71.67,0.00,28.33
323,동남,송파,고고스,서울 송파구 석촌호수로 197,37.509240,127.099154,se_sp_12.png,9450,0,5550,warm,63.00,0.00,37.00
324,동남,송파,파티세리 도효,서울 송파구 오금로16길 10,37.510768,127.108722,se_sp_13.png,8250,0,6750,warm,55.00,0.00,45.00

In [31]:
area_colors = colors.groupby('지역구').sum().iloc[:, 2:5]
area_colors

        red   blue   mono
지역구
강남   135650   1550  57800
강동   133650   2500  58850
강북   137500   4550  52950
강서   126000  12200  56800
관악   130450      0  64550
광진   131100   1450  62450
구로   118950    650  75400
금천   117800   9900  67300
노원   140100   1100  53800
도봉   111850   1700  81450
동대문  139150   1300  54550
동작   132450    350  62200
마포   121500   5100  68400
서대문  127900      0  67100
서초   128950  14900  51150
성동   136550   4900  53550
성북   109300   2150  83550
송파   112800      0  82200
양천   124750   3700  66550
영등포  139000    750  55250
용산   105850   4950  84200
은평   117600  11400  66000
종로   102650   6950  85400
중구   107900   4450  82650
중랑   123900      0  71100

In [37]:
ratios2 = area_colors.loc[:, 'red':'mono'].div(area_colors.sum(axis=1), axis='index')
ratios2

          red      blue      mono
지역구
강남   0.695641  0.007949  0.296410
강동   0.685385  0.012821  0.301795
강북   0.705128  0.023333  0.271538
강서   0.646154  0.062564  0.291282
관악   0.668974  0.000000  0.331026
광진   0.672308  0.007436  0.320256
구로   0.610000  0.003333  0.386667
금천   0.604103  0.050769  0.345128
노원   0.718462  0.005641  0.275897
도봉   0.573590  0.008718  0.417692
동대문  0.713590  0.006667  0.279744
동작   0.679231  0.001795  0.318974
마포   0.623077  0.026154  0.350769
서대문  0.655897  0.000000  0.344103
서초   0.661282  0.076410  0.262308
성동   0.700256  0.025128  0.274615
성북   0.560513  0.011026  0.428462
송파   0.578462  0.000000  0.421538
양천   0.639744  0.018974  0.341282
영등포  0.712821  0.003846  0.283333
용산   0.542821  0.025385  0.431795
은평   0.603077  0.058462  0.338462
종로   0.526410  0.035641  0.437949
중구   0.553333  0.022821  0.423846
중랑   0.635385  0.000000  0.364615

In [40]:
ratios2.columns = [c + '%' for c in ratios2.columns]

In [41]:
ratios2

         red%     blue%     mono%
지역구
강남   0.695641  0.007949  0.296410
강동   0.685385  0.012821  0.301795
강북   0.705128  0.023333  0.271538
강서   0.646154  0.062564  0.291282
관악   0.668974  0.000000  0.331026
광진   0.672308  0.007436  0.320256
구로   0.610000  0.003333  0.386667
금천   0.604103  0.050769  0.345128
노원   0.718462  0.005641  0.275897
도봉   0.573590  0.008718  0.417692
동대문  0.713590  0.006667  0.279744
동작   0.679231  0.001795  0.318974
마포   0.623077  0.026154  0.350769
서대문  0.655897  0.000000  0.344103
서초   0.661282  0.076410  0.262308
성동   0.700256  0.025128  0.274615
성북   0.560513  0.011026  0.428462
송파   0.578462  0.000000  0.421538
양천   0.639744  0.018974  0.341282
영등포  0.712821  0.003846  0.283333
용산   0.542821  0.025385  0.431795
은평   0.603077  0.058462  0.338462
종로   0.526410  0.035641  0.437949
중구   0.553333  0.022821  0.423846
중랑   0.635385  0.000000  0.364615

In [43]:
area_colors = area_colors.join(ratios2)
area_colors

        red   blue   mono      red%     blue%     mono%
지역구
강남   135650   1550  57800  0.695641  0.007949  0.296410
강동   133650   2500  58850  0.685385  0.012821  0.301795
강북   137500   4550  52950  0.705128  0.023333  0.271538
강서   126000  12200  56800  0.646154  0.062564  0.291282
관악   130450      0  64550  0.668974  0.000000  0.331026
광진   131100   1450  62450  0.672308  0.007436  0.320256
구로   118950    650  75400  0.610000  0.003333  0.386667
금천   117800   9900  67300  0.604103  0.050769  0.345128
노원   140100   1100  53800  0.718462  0.005641  0.275897
도봉   111850   1700  81450  0.573590  0.008718  0.417692
동대문  139150   1300  54550  0.713590  0.006667  0.279744
동작   132450    350  62200  0.679231  0.001795  0.318974
마포   121500   5100  68400  0.623077  0.026154  0.350769
서대문  127900      0  67100  0.655897  0.000000  0.344103
서초   128950  14900  51150  0.661282  0.076410  0.262308
성동   136550   4900  53550  0.700256  0.025128  0.274615
성북   109300   2150  83550  0.560513  0.011026  0.428462
송파   112800      0  82200  0.578462  0.000000  0.421538
양천   124750   3700  66550  0.639744  0.018974  0.341282
영등포  139000    750  55250  0.712821  0.003846  0.283333
용산   105850   4950  84200  0.542821  0.025385  0.431795
은평   117600  11400  66000  0.603077  0.058462  0.338462
종로   102650   6950  85400  0.526410  0.035641  0.437949
중구   107900   4450  82650  0.553333  0.022821  0.423846
중랑   123900      0  71100  0.635385  0.000000  0.364615

In [50]:
area_colors.to_csv('cafe_color_classify_with_area.csv')

In [49]:
df_area.to_csv('cafe_image_classify_with_area.csv')

In [55]:
df_area.describe()

,red,blue,mono,red%,blue%,mono%
count,2.500000e+01,2.500000e+01,2.500000e+01,25.000000,25.000000,25.000000
mean,7.346268e+06,1.298014e+06,3.857059e+06,0.600130,0.093249,0.306622
std,5.775883e+06,1.375781e+06,3.285462e+06,0.066807,0.032237,0.057235
min,2.356204e+06,1.841310e+05,8.755040e+05,0.473983,0.047222,0.199309
25%,2.733076e+06,3.754110e+05,1.465703e+06,0.562180,0.078605,0.256878
50%,3.835062e+06,5.814490e+05,2.615305e+06,0.607810,0.087132,0.300698
75%,1.104429e+07,1.885380e+06,5.314503e+06,0.642380,0.115553,0.353298
max,2.487968e+07,5.676680e+06,1.294679e+07,0.752221,0.160349,0.410909

In [68]:
df_area.sort_values(by='mono%')

          red     blue      mono      red%     blue%     mono%
지역구
동대문  10048299   647470   2662399  0.752221  0.048470  0.199309
성동    2738612   472182    875504  0.670194  0.115553  0.214254
강서    3518774   458234   1274218  0.670086  0.087262  0.242652
서초   11644125  3174813   4980492  0.588104  0.160349  0.251547
강남   16062962  1885380   6037138  0.669695  0.078605  0.251700
은평    2733076   337709   1052492  0.662841  0.081903  0.255256
영등포   4796785   581449   1859119  0.662782  0.080340  0.256878
금천   12504138  2356768   5480463  0.614715  0.115861  0.269424
강동    2614802   375411   1118154  0.636458  0.091377  0.272165
관악   11721860  1484585   5175715  0.637676  0.080762  0.281562
노원   24879681  5676680  12946787  0.571905  0.130489  0.297606
동작   11044288  1334939   5314503  0.624192  0.075447  0.300361
마포    3152877   474595   1559802  0.607810  0.091492  0.300698
서대문   2364773   184131   1132365  0.642380  0.050018  0.307602
양천    2678991   444339   1473237  0.582824  0.096668  0.320508
송파    2548720   317866   1443173  0.591383  0.073755  0.334862
도봉    7923812   619590   4332016  0.615422  0.048122  0.336456
광진    2431492   371982   1465703  0.569546  0.087132  0.343322
용산    3363970   524159   2124115  0.559520  0.087182  0.353298
중구   10758064  3391446   7733070  0.491627  0.154984  0.353389
중랑    2356204   346818   1488171  0.562180  0.082749  0.355071
성북   10448123  3321852   8273271  0.473983  0.150697  0.375320
종로    3835062  1001186   2947153  0.492723  0.128631  0.378646
강북   14038381  2366210  11062117  0.511105  0.086148  0.402746
구로    3448818   300554   2615305  0.541869  0.047222  0.410909

In [109]:
for color in 'red,blue,mono'.split(','):
    df = df_area.sort_values(by=f'{color}%', ascending=False)
    df[f'{color}_rank'] = [i for i in range(1,26)]
    df_area = df_area.merge(df)
df_area

,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
0,16062962,1885380,6037138,0.669695,0.078605,0.251700,4,19,21
1,2614802,375411,1118154,0.636458,0.091377,0.272165,9,10,17
2,14038381,2366210,11062117,0.511105,0.086148,0.402746,22,14,2
3,3518774,458234,1274218,0.670086,0.087262,0.242652,3,11,23
4,11721860,1484585,5175715,0.637676,0.080762,0.281562,8,17,16
5,2431492,371982,1465703,0.569546,0.087132,0.343322,18,13,8
6,3448818,300554,2615305,0.541869,0.047222,0.410909,21,25,1
7,12504138,2356768,5480463,0.614715,0.115861,0.269424,12,6,18
8,24879681,5676680,12946787,0.571905,0.130489,0.297606,17,4,15
9,7923812,619590,4332016,0.615422,0.048122,0.336456,11,24,9
10,10048299,647470,2662399,0.752221,0.048470,0.199309,1,23,25
11,11044288,1334939,5314503,0.624192,0.075447,0.300361,10,20,14
12,3152877,474595,1559802,0.607810,0.091492,0.300698,13,9,13
13,2364773,184131,1132365,0.642380,0.050018,0.307602,7,22,12
14,11644125,3174813,4980492,0.588104,0.160349,0.251547,15,1,22
15,2738612,472182,875504,0.670194,0.115553,0.214254,2,7,24
16,10448123,3321852,8273271,0.473983,0.150697,0.375320,25,3,4
17,2548720,317866,1443173,0.591383,0.073755,0.334862,14,21,10
18,2678991,444339,1473237,0.582824,0.096668,0.320508,16,8,11
19,4796785,581449,1859119,0.662782,0.080340,0.256878,6,18,19
20,3363970,524159,2124115,0.559520,0.087182,0.353298,20,12,7
21,2733076,337709,1052492,0.662841,0.081903,0.255256,5,16,20
22,3835062,1001186,2947153,0.492723,0.128631,0.378646,23,5,3
23,10758064,3391446,7733070,0.491627,0.154984,0.353389,24,2,6
24,2356204,346818,1488171,0.562180,0.082749,0.355071,19,15,5

In [107]:
df_area.index

Index(['강남', '강동', '강북', '강서', '관악', '광진', '구로', '금천', '노원', '도봉', '동대문', '동작',
       '마포', '서대문', '서초', '성동', '성북', '송파', '양천', '영등포', '용산', '은평', '종로',
       '중구', '중랑'],
      dtype='object', name='지역구')

In [108]:
len(['강남', '강동', '강북', '강서', '관악', '광진', '구로', '금천', '노원', '도봉', '동대문', '동작',
       '마포', '서대문', '서초', '성동', '성북', '송파', '양천', '영등포', '용산', '은평', '종로',
       '중구', '중랑'])

25

In [110]:
df_area['지역구'] = ['강남', '강동', '강북', '강서', '관악', '광진', '구로', '금천', '노원', '도봉', '동대문', '동작',
       '마포', '서대문', '서초', '성동', '성북', '송파', '양천', '영등포', '용산', '은평', '종로',
       '중구', '중랑']
df_area

,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank,지역구
0,16062962,1885380,6037138,0.669695,0.078605,0.251700,4,19,21,강남
1,2614802,375411,1118154,0.636458,0.091377,0.272165,9,10,17,강동
2,14038381,2366210,11062117,0.511105,0.086148,0.402746,22,14,2,강북
3,3518774,458234,1274218,0.670086,0.087262,0.242652,3,11,23,강서
4,11721860,1484585,5175715,0.637676,0.080762,0.281562,8,17,16,관악
5,2431492,371982,1465703,0.569546,0.087132,0.343322,18,13,8,광진
6,3448818,300554,2615305,0.541869,0.047222,0.410909,21,25,1,구로
7,12504138,2356768,5480463,0.614715,0.115861,0.269424,12,6,18,금천
8,24879681,5676680,12946787,0.571905,0.130489,0.297606,17,4,15,노원
9,7923812,619590,4332016,0.615422,0.048122,0.336456,11,24,9,도봉
10,10048299,647470,2662399,0.752221,0.048470,0.199309,1,23,25,동대문
11,11044288,1334939,5314503,0.624192,0.075447,0.300361,10,20,14,동작
12,3152877,474595,1559802,0.607810,0.091492,0.300698,13,9,13,마포
13,2364773,184131,1132365,0.642380,0.050018,0.307602,7,22,12,서대문
14,11644125,3174813,4980492,0.588104,0.160349,0.251547,15,1,22,서초
15,2738612,472182,875504,0.670194,0.115553,0.214254,2,7,24,성동
16,10448123,3321852,8273271,0.473983,0.150697,0.375320,25,3,4,성북
17,2548720,317866,1443173,0.591383,0.073755,0.334862,14,21,10,송파
18,2678991,444339,1473237,0.582824,0.096668,0.320508,16,8,11,양천
19,4796785,581449,1859119,0.662782,0.080340,0.256878,6,18,19,영등포
20,3363970,524159,2124115,0.559520,0.087182,0.353298,20,12,7,용산
21,2733076,337709,1052492,0.662841,0.081903,0.255256,5,16,20,은평
22,3835062,1001186,2947153,0.492723,0.128631,0.378646,23,5,3,종로
23,10758064,3391446,7733070,0.491627,0.154984,0.353389,24,2,6,중구
24,2356204,346818,1488171,0.562180,0.082749,0.355071,19,15,5,중랑

In [111]:
df_area.columns

Index(['red', 'blue', 'mono', 'red%', 'blue%', 'mono%', 'red_rank',
       'blue_rank', 'mono_rank', '지역구'],
      dtype='object')

In [113]:
df_area = df_area[['지역구', 'red', 'blue', 'mono', 'red%', 'blue%', 'mono%', 'red_rank', 'blue_rank', 'mono_rank']]
df_area

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
0,강남,16062962,1885380,6037138,0.669695,0.078605,0.251700,4,19,21
1,강동,2614802,375411,1118154,0.636458,0.091377,0.272165,9,10,17
2,강북,14038381,2366210,11062117,0.511105,0.086148,0.402746,22,14,2
3,강서,3518774,458234,1274218,0.670086,0.087262,0.242652,3,11,23
4,관악,11721860,1484585,5175715,0.637676,0.080762,0.281562,8,17,16
5,광진,2431492,371982,1465703,0.569546,0.087132,0.343322,18,13,8
6,구로,3448818,300554,2615305,0.541869,0.047222,0.410909,21,25,1
7,금천,12504138,2356768,5480463,0.614715,0.115861,0.269424,12,6,18
8,노원,24879681,5676680,12946787,0.571905,0.130489,0.297606,17,4,15
9,도봉,7923812,619590,4332016,0.615422,0.048122,0.336456,11,24,9
10,동대문,10048299,647470,2662399,0.752221,0.048470,0.199309,1,23,25
11,동작,11044288,1334939,5314503,0.624192,0.075447,0.300361,10,20,14
12,마포,3152877,474595,1559802,0.607810,0.091492,0.300698,13,9,13
13,서대문,2364773,184131,1132365,0.642380,0.050018,0.307602,7,22,12
14,서초,11644125,3174813,4980492,0.588104,0.160349,0.251547,15,1,22
15,성동,2738612,472182,875504,0.670194,0.115553,0.214254,2,7,24
16,성북,10448123,3321852,8273271,0.473983,0.150697,0.375320,25,3,4
17,송파,2548720,317866,1443173,0.591383,0.073755,0.334862,14,21,10
18,양천,2678991,444339,1473237,0.582824,0.096668,0.320508,16,8,11
19,영등포,4796785,581449,1859119,0.662782,0.080340,0.256878,6,18,19
20,용산,3363970,524159,2124115,0.559520,0.087182,0.353298,20,12,7
21,은평,2733076,337709,1052492,0.662841,0.081903,0.255256,5,16,20
22,종로,3835062,1001186,2947153,0.492723,0.128631,0.378646,23,5,3
23,중구,10758064,3391446,7733070,0.491627,0.154984,0.353389,24,2,6
24,중랑,2356204,346818,1488171,0.562180,0.082749,0.355071,19,15,5

In [120]:
import re

In [126]:
df_area[df_area['지역구'] == '동대문']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
10,동대문,10048299,647470,2662399,0.752221,0.04847,0.199309,1,23,25

In [127]:
df_area[df_area['지역구'] == '성동']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
15,성동,2738612,472182,875504,0.670194,0.115553,0.214254,2,7,24

In [128]:
df_area[df_area['지역구'] == '강서']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
3,강서,3518774,458234,1274218,0.670086,0.087262,0.242652,3,11,23

In [129]:
df_area[df_area['지역구'] == '강남']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
0,강남,16062962,1885380,6037138,0.669695,0.078605,0.2517,4,19,21

In [130]:
df_area[df_area['지역구'] == '은평']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
21,은평,2733076,337709,1052492,0.662841,0.081903,0.255256,5,16,20

In [131]:
df_area[df_area['지역구'] == '서초']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
14,서초,11644125,3174813,4980492,0.588104,0.160349,0.251547,15,1,22

In [132]:
df_area[df_area['지역구'] == '중구']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
23,중구,10758064,3391446,7733070,0.491627,0.154984,0.353389,24,2,6

In [134]:
df_area[df_area['지역구'] == '성북']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
16,성북,10448123,3321852,8273271,0.473983,0.150697,0.37532,25,3,4

In [133]:
df_area[df_area['지역구'] == '노원']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
8,노원,24879681,5676680,12946787,0.571905,0.130489,0.297606,17,4,15

In [135]:
df_area[df_area['지역구'] == '종로']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
22,종로,3835062,1001186,2947153,0.492723,0.128631,0.378646,23,5,3

In [136]:
df_area[df_area['지역구'] == '구로']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
6,구로,3448818,300554,2615305,0.541869,0.047222,0.410909,21,25,1

In [137]:
df_area[df_area['지역구'] == '강북']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
2,강북,14038381,2366210,11062117,0.511105,0.086148,0.402746,22,14,2

In [139]:
df_area[df_area['지역구'] == '중랑']

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
24,중랑,2356204,346818,1488171,0.56218,0.082749,0.355071,19,15,5

In [140]:
df_area

,지역구,red,blue,mono,red%,blue%,mono%,red_rank,blue_rank,mono_rank
0,강남,16062962,1885380,6037138,0.669695,0.078605,0.251700,4,19,21
1,강동,2614802,375411,1118154,0.636458,0.091377,0.272165,9,10,17
2,강북,14038381,2366210,11062117,0.511105,0.086148,0.402746,22,14,2
3,강서,3518774,458234,1274218,0.670086,0.087262,0.242652,3,11,23
4,관악,11721860,1484585,5175715,0.637676,0.080762,0.281562,8,17,16
5,광진,2431492,371982,1465703,0.569546,0.087132,0.343322,18,13,8
6,구로,3448818,300554,2615305,0.541869,0.047222,0.410909,21,25,1
7,금천,12504138,2356768,5480463,0.614715,0.115861,0.269424,12,6,18
8,노원,24879681,5676680,12946787,0.571905,0.130489,0.297606,17,4,15
9,도봉,7923812,619590,4332016,0.615422,0.048122,0.336456,11,24,9
10,동대문,10048299,647470,2662399,0.752221,0.048470,0.199309,1,23,25
11,동작,11044288,1334939,5314503,0.624192,0.075447,0.300361,10,20,14
12,마포,3152877,474595,1559802,0.607810,0.091492,0.300698,13,9,13
13,서대문,2364773,184131,1132365,0.642380,0.050018,0.307602,7,22,12
14,서초,11644125,3174813,4980492,0.588104,0.160349,0.251547,15,1,22
15,성동,2738612,472182,875504,0.670194,0.115553,0.214254,2,7,24
16,성북,10448123,3321852,8273271,0.473983,0.150697,0.375320,25,3,4
17,송파,2548720,317866,1443173,0.591383,0.073755,0.334862,14,21,10
18,양천,2678991,444339,1473237,0.582824,0.096668,0.320508,16,8,11
19,영등포,4796785,581449,1859119,0.662782,0.080340,0.256878,6,18,19
20,용산,3363970,524159,2124115,0.559520,0.087182,0.353298,20,12,7
21,은평,2733076,337709,1052492,0.662841,0.081903,0.255256,5,16,20
22,종로,3835062,1001186,2947153,0.492723,0.128631,0.378646,23,5,3
23,중구,10758064,3391446,7733070,0.491627,0.154984,0.353389,24,2,6
24,중랑,2356204,346818,1488171,0.562180,0.082749,0.355071,19,15,5

In [141]:
df_area.to_csv('cafe_image_classify_with_rank.csv', index=False)